<tr-section-heading>About</tr-section-heading>
<section class="text-light_grey">
  <p>
    I began my software development journey in 2011, when I took IT in high school. I fell in love with programming immediately. Fast-forward to today and I've worked on many different software
    projects, for companies in various industries, such as <a class="text-white hover:text-secondary" href="https://www.tracker.co.za" target="_blank">vehicle-tracking</a>,
    <a class="text-white hover:text-secondary" href="https://uk.apleona.com" target="_blank">facilities
      management</a> & <a class="text-white hover:text-secondary" href="https://www.dvt.co.za" target="_blank">software solutions.</a>
  </p>
  <br>
  <p>My latest interest is <a class="text-white hover:text-secondary" href="https://aws.amazon.com" target="_blank">AWS</a> - achieving <a class="text-white hover:text-secondary" href="https://aws.amazon.com/certification/" target="_blank">certifications</a> and building things using their products & services.</p>
</section>

