<tr-section-heading>About</tr-section-heading>
<section class="text-light_grey">
  <p>
    I began my software development journey in 2011, when I took IT in high
    school. I fell in love with programming immediately. Fast-forward to today
    and I've worked on many different software projects, for companies in
    various industries such as
    <a
      class="text-white hover:text-secondary"
      href="https://www.momentum.co.za/"
      target="_blank"
      >insurance</a
    >,
    <a
      class="text-white hover:text-secondary"
      href="https://www.tracker.co.za"
      target="_blank"
      >vehicle-tracking</a
    >,
    <a
      class="text-white hover:text-secondary"
      href="https://uk.apleona.com"
      target="_blank"
      >facilities management</a
    >
    &
    <a
      class="text-white hover:text-secondary"
      href="https://www.dvt.co.za"
      target="_blank"
      >software engineering.</a
    >
  </p>
  <br />
  <p>
    My latest interest in the tech world is
    <a
      class="text-white hover:text-secondary"
      href="https://aws.amazon.com"
      target="_blank"
      >AWS</a
    >
    - doing some of their
    <a
      class="text-white hover:text-secondary"
      href="https://aws.amazon.com/certification/"
      target="_blank"
      >certifications</a
    >
    and building things with the wide variety of products & services on offer.
  </p>
  <br />
  <p>
    When I'm not at my computer you can find me
    <a
      class="text-white hover:text-secondary"
      href="https://www.strava.com/athletes/113476131"
      target="_blank"
      >trying to stay fit</a
    >,
    <a
      class="text-white hover:text-secondary"
      href="https://app.playtomic.io/profile/user/3559869?utm_source=app_ios&utm_medium=share"
      target="_blank"
      >playing padel</a
    >
    with friends or
    <a
      class="text-white hover:text-secondary"
      href="https://www.goodreads.com/user/show/181336386-taylor-ray"
      target="_blank"
      >reading with a cup of tea</a
    >
    in hand.
  </p>
</section>
