<tr-section-heading>Experience</tr-section-heading>
<section class="text-light_grey flex flex-col gap-16">
  @for (job of jobs; track job) {
    <a class="group relative" [href]="job.employer.url" target="_blank">
      <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition border-white/5
                  lg:-inset-x-6 lg:block lg:group-hover:bg-slate-500/10 lg:group-hover:border-t lg:group-hover:drop-shadow-lg">
      </div>
      <div class="flex flex-col lg:flex-row lg:gap-10">
        <div class="text-xs lg:w-1/4">
          <p class="font-medium my-1 text-nowrap">{{ job.timeline.text }}</p>
          <!--          <p class="font-medium my-1 uppercase">{{ job.employer.type }}</p>-->
          <!--          <p class="text-xs">{{ getDuration(job.timeline.startDate, job.timeline.endDate) }} </p>-->
          <!--          <p class="text-sm mt-1">{{ job.employer.description }}</p>-->
        </div>
        <div class="flex-1">
          <div class="leading-snug">
            <h3 class="text-white text-nowrap">{{ job.title }} · {{ job.employer.name }} <i class="inline-block lg:hidden group-hover:inline-block ml-2 h-4 w-4">
              <tr-new-tab-icon/>
            </i></h3>

            @for (subtitle of job.subTitles; track subtitle) {
              <h4 class="text-primary">{{ subtitle }}</h4>
            }
          </div>

          <p class="">{{ job.employer.description }}</p>

          <p class="my-4 font-light text-sm">{{ job.responsibilities }}</p>

          <div class="flex flex-wrap gap-2 text-secondary text-center mt-2">
            @for (skill of job.skills; track skill) {
              <span class="bg-blue rounded-full py-2 px-3 min-w-20 text-sm">{{ skill }}</span>
            }
          </div>
        </div>
      </div>
    </a>
  }
  <!--      <span>{{ getDuration(experience[0].startDate, experience[0].endDate) }}</span>-->
</section>
