<tr-section-heading>Experience</tr-section-heading>
<section class="text-light_grey flex flex-col gap-16 font-light lg:font-normal">
  @for (job of jobs; track job) {
    <div class="group relative">
      <a class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition border-white/5
                  lg:-inset-x-6 lg:block lg:group-hover:bg-slate-500/10 lg:group-hover:border-t lg:group-hover:drop-shadow-lg"
          [href]="job.employer.url" target="_blank">
      </a>
      <div class="flex flex-col md:flex-row md:gap-10">
        <div class="flex gap-2 items-center md:items-start md:w-1/4">
          <a class="md:hidden text-white text-nowrap font-semibold" [href]="job.employer.url" target="_blank">
            {{ job.employer.name.toUpperCase() }}
            <i class="inline-block lg:hidden group-hover:inline-block mt-1 lg:ml-2 h-3 w-3"><tr-new-tab-icon/></i>
          </a>
          <p class="text-xs font-normal lg:font-medium sm:mt-1 text-nowrap">{{ job.timeline.text }}</p>
          <!--          <p class="text-xs">{{ getDuration(job.timeline.startDate, job.timeline.endDate) }} </p>-->
        </div>
        <div class="flex-1">
          <div class="leading-snug pb-2 sm:py-2 md:pt-0 font-normal">
            <a class="hidden md:inline text-white text-nowrap font-semibold hover:text-secondary lg:group-hover:text-secondary tracking-wide" [href]="job.employer.url" target="_blank">
              {{ job.title }} · {{ job.employer.name.toUpperCase() }}
              <i class="inline-block group-hover:inline-block w-3 lg:hidden lg:ml-1"><tr-arrow-right-icon /></i>
            </a>
            <h3 class="md:hidden text-white text-nowrap">{{ job.title }}</h3>

            @for (subtitle of job.subTitles; track subtitle) {
              <h4 class="text-primary">{{ subtitle }}</h4>
            }
          </div>

          <p class="leading-tight">{{ job.employer.description }}</p>

          <p class="my-4 font-light text-sm">{{ job.responsibilities }}</p>

          <div class="flex flex-wrap gap-2 text-secondary text-center mt-2">
            @for (skill of job.skills; track skill) {
              <span class="bg-blue rounded-full py-2 px-3 min-w-20 text-sm">{{ skill }}</span>
            }
          </div>
        </div>
      </div>
    </div>
  }
  <!--      <span>{{ getDuration(experience[0].startDate, experience[0].endDate) }}</span>-->
</section>
