<section class="flex flex-col items-center max-h-screen w-full min-w-full text-lg">
  <nav class="h-32 min-h-32 flex justify-center items-center">
    <ul class="flex justify-center gap-5 text-xl font-light text-center">
      <li (click)="view = 'list'" [class.text-secondary]="view === 'list'" class="cursor-pointer">
        ALL TRANSCRIPTS
      </li>
      <li (click)="view = 'new'" [class.text-secondary]="view === 'new'" class="cursor-pointer">
        NEW TRANSCRIPT
      </li>
    </ul>
  </nav>
  <section class="w-full min-w-full">
    @if (view === 'list') {
      <tr-transcription-list/>
    }
    @if (view === 'new') {
      <tr-new-transcript (onViewChange)="view = $event"/>
    }
  </section>
</section>
