<section class="flex flex-col lg:grid lg:grid-cols-2 max-w-screen-xl px-5 sm:mx-10 lg:mx-20 xl:px-10 xl:mx-40 2xl:mx-auto 2xl:pl-20 font-sans">
  <tr-sidebar />
  <main class="flex flex-col gap-20 pb-20 lg:py-32">
    <tr-about IsVisible aria-label="about" id="about"/>
    <tr-experience IsVisible aria-label="experience" id="experience"/>

    <!--      @defer (on viewport) {-->
    <tr-skills IsVisible aria-label="skills" id="skills"/>
    <!--      } @placeholder {-->
    <!--        <section id="experience">Experience</section>-->
    <!--      }-->

    <!--      @defer (on viewport) {-->
    <tr-projects IsVisible aria-label="projects" id="projects"/>
    <!--      } @placeholder {-->
    <!--        <section id="projects">Projects</section>-->
    <!--      }-->
  </main>
</section>
@if (userHasScrolled) {
  <a href="#top" class="fixed bottom-5 right-5 w-10 h-10 text-primary border-secondary rounded-lg p-1 lg:hidden">
    <tr-arrow-up-icon/>
  </a>
}