<section id="experience">
    <ol>
        <li>
            <span>DVT</span>
            <span>{{getDuration(experience[0].startDate, experience[0].endDate)}}</span>
        </li>
        <li>
            <span>DVT</span>
            <span>{{getDuration(experience[0].startDate, experience[0].endDate)}}</span>
        </li>
        <li>
            <span>DVT</span>
            <span>{{getDuration(experience[0].startDate, experience[0].endDate)}}</span>
        </li>
        <li>
            <span>DVT</span>
            <span>{{getDuration(experience[0].startDate, experience[0].endDate)}}</span>
        </li>
        <li>
            <span>DVT</span>
            <span>{{getDuration(experience[0].startDate, experience[0].endDate)}}</span>
        </li>
        <li>
            <span>DVT</span>
            <span>{{getDuration(experience[0].startDate, experience[0].endDate)}}</span>
        </li>
        <li>
            <span>DVT</span>
            <span>{{getDuration(experience[0].startDate, experience[0].endDate)}}</span>
        </li>
    </ol>
</section>
