/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c5c6c7;
  --secondary: #66fcf1;
  --tertiary: #45a29e;
  --accent: #ffd23c;
  --dark-blue: #0d303b;
  --dark-blue-variant: #0a262e;
  --blue: #124e66;
  --dark: #0b0c10;
  --grey: #1f2833;
  --light-grey: #a2b8cb;
  --white: #fff;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}